body{font-size:12px;}
ul,li,dl,dt,dd{list-style:none;}
.footer{text-align:center; line-height:25px;}
.header{background-color:#3a6ea5; color:#FFF;}


.username-ico{background:url(../image/icons/user.png) no-repeat 3px 2px; padding-left:23px;}
.userpassword-ico{background:url(../image/icons/lock.png) no-repeat 3px 2px; padding-left:23px;}

.checkcode-ico{background:url(../image/icons/key.png) no-repeat 3px 2px; padding-left:23px;}

#CheckCode{ float:left;}  
.x-form-code{vertical-align:middle;cursor:pointer; display:block; margin-left:55px; width:150px; height:40px;} 

.header{font-size:14px; font-weight:bold; padding-left:10px; line-height:30px;}
.footer{text-align:center; line-height:20px; color:#999;}

